#root {
  padding: 2rem;
  text-align: center;
  width: 100vw;
}

body {
  background-color: rgb(222, 222, 222);
}

.board {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.task-card {
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  overflow-y: auto;
}

.task-blocked {
  background-color: lightcoral;
}

.task-overdue {
  border: 5px solid red;
}

.task-detail {
  display: block;
  float: left;
  width: 100%;
}

.task-id {
  margin-left: 2px;
  margin-right: 5px;
  display: block;
  float: left;
}

.task-title {
  font-weight: bold;
  float: left;
}

.task-impedent {
  float: right;
  margin-right: 5px;
}

.due-date {
  margin-bottom: 0;
  text-align: left;
}

.new-task > form > button {
  margin-left: 5px;
}

.board-column {
  width: 33%;
  border: 5px solid rgb(222, 222, 222);
}

.board-column.drag-target{
  border: 5px solid lime;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

footer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  text-align: left;
} 

.tips {
  width: 33%;
  margin-left: 20px;
}

.tips > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.about {
  width: 33%;
}

