#root {
  padding: 2rem;
  text-align: center;
  width: 100vw;
}

body {
  background-color: rgb(222, 222, 222);
}

.board {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.task-card {
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  overflow-y: auto;
}

.task-blocked {
  background-color: lightcoral;
}

.task-overdue {
  border: 5px solid red;
}

.task-detail {
  display: block;
  float: left;
  width: 100%;
}

.task-id {
  margin-left: 2px;
  margin-right: 5px;
  display: block;
  float: left;
}

.task-title {
  font-weight: bold;
  float: left;
}

.task-impedent {
  float: right;
  margin-right: 5px;
}

.due-date {
  margin-bottom: 0;
  text-align: left;
}

.new-task > form > button {
  margin-left: 5px;
}

.board-column {
  width: 33%;
}