#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #2c3e50;
  margin: 0;
}

.board {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.task-card {
  display: block;
  background-color: #1abc9c;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  overflow-y: auto;
}

.task-blocked {
  background-color: #e74c3c;
}

.task-card.task-overdue {
  border: 5px solid #e74c3c;
}

.task-detail {
  display: block;
  float: left;
  width: 100%;
}

.task-id {
  margin-left: 2px;
  margin-right: 5px;
  display: block;
  float: left;
}

.task-title {
  font-weight: bold;
  float: left;
}

.task-impedent {
  float: right;
  margin-right: 5px;
}

.due-date {
  margin-bottom: 0;
  text-align: left;
}

.new-task > form > button {
  margin-left: 5px;
}

.board-column {
  width: 33%;
  border: 5px solid #2c3e50;
}

.board-column.drag-target{
  border: 5px solid #1abc9c;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

footer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  background-color: #34495e;
} 

.tips {
  width: 33%;
  margin-left: 20px;
}

.tips > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.about {
  width: 33%;
}

nav {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  background-color: #34495e;
}

nav > h2 {
  color: white;
  margin-bottom: 0;
  text-align: center;
  padding-left: 5px;
}

nav > h2 > .icon {
  float: left;
  padding-left: 10px;
}

nav > ul {
  padding: 5px;
}

nav > ul > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav > ul > a > li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  text-align: left;
}

nav > ul > a:hover, nav > ul > a > li:hover {
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid #2ecc71;
}

nav > ul > a > li > .icon {
  float: left;
  padding-right: 10px;
  color: #2ecc71;
}

main {
  width: 90%;
  float: right;
  overflow-y: scroll;
  height: 80%;
}

table.tasks {
  width: 50%;
  border-collapse: collapse;
  text-align: left;
  margin: 20px auto;
}
table.tasks thead {
  font-size: 1.1rem;
}

table.tasks tbody tr {
  margin-bottom: 5px;
  line-height: 2rem;
}

td.col-task-id {
  width: 5%;
}

td.col-task-blocked {
  width: 10%;
  text-align: center;
  padding-right: 20px;
}

td.col-task-blocked .icon {
  color: red;
  margin-left: auto;
  margin-right: auto;
}

td.col-task-status {
  width: 10%;
}

td.col-task-date {
  width: 20%;
}

td.task-overdue {
  color: red;
}

td.col-task-title {
  width: 50%;
}

td.col-task-actions {
  width: 5%;
}

a {
  color: #2ecc71;
  text-decoration: none;
}

a:hover {
  color: #27ae60;
}